{% extends 'wadisemapp/base.html' %}
{% load static %}
<!doctype html>
{% block title%}
About
{% endblock %}

{% block content %}
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 hero-overly d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center pt-80">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features bg-light">
        <div class="container">

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                <h4>We are Detailed-Oriented</h4>
                                <p>Our market is our customer and we take our time to go thoroughly through latest
                                    market trends to help boost our customer satisfaction, enhance produce
                                    outstanding ROI.</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">
                                <h4>Our Commitment is Top-notch</h4>
                                <p>Technology is the latest man of the moment and our tool to stay in touch with our
                                    services and clients. We have been consistent with this approach and its outcome to
                                    customer satisfaction is quite pleasant.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">
                                <h4>Financial Inclusion</h4>
                                <p>There is a popular sentence and i quote,"You get better by helping others become
                                    better". This might be simple but it works wonders. Our Loan services cut across
                                    every person in need and our interest rate are so customer friendly because we
                                    believe in you just as we do ourselves.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">
                                <h4>Education is Key</h4>
                                <p>We offer the best admission processing you can get in Nigeria. Striving to make you
                                    better by helping you achieve your goal and making it possible for your dreams to
                                    become reality by providing sound academic support and advice to prospective
                                    Nigerian and overseas student.</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 ml-auto" data-aos="fade-left">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <figure>
                                <img src="{% static 'wadisemapp/assets/img/features-1.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <figure>
                                <img src="{% static 'wadisemapp/assets/img/features-2.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <figure>
                                <img src="{% static 'wadisemapp/assets/img/features-3.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <figure>
                                <img src="{% static 'wadisemapp/assets/img/features-4.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8 offset-lg-2 mt-auto">
            <div class="progress-bar-content">
                <div class="progress-label d-flex align-items-center">
                    <div class="progress-title">Our Business Strategy</div>
                    <span class="progress-bar-units ml-auto">88%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-percent="88"></div>
                </div>
            </div>
            <div class="progress-bar-content">
                <div class="progress-label d-flex align-items-center">
                    <div class="progress-title">Our Immigration Success Rate</div>
                    <span class="progress-bar-units ml-auto">88%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-percent="88"></div>
                </div>
            </div>
            <div class="progress-bar-content">
                <div class="progress-label d-flex align-items-center">
                    <div class="progress-title">Our Financial Services Performance Index Rate</div>
                    <span class="progress-bar-units ml-auto">90%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-percent="90"></div>
                </div>
            </div>
            <div class="progress-bar-content">
                <div class="progress-label d-flex align-items-center">
                    <div class="progress-title">Our Admission processing success rate</div>
                    <span class="progress-bar-units ml-auto">85%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-percent="85"></div>
                </div>
            </div>
            <div class="progress-bar-content">
                <div class="progress-label d-flex align-items-center">
                    <div class="progress-title">Our Business Development Scaling Rate</div>
                    <span class="progress-bar-units ml-auto">90%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-percent="90"></div>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->



    <!-- Brand Area Start -->
    <div class="brand-area pt-120 pb-120" data-aos="fade-up" data-aos-duration="3000">
        <div class="container">
            <div class="brand-active brand-border pt-50 pb-40">
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand1.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand2.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand3.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand4.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand5.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand6.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand7.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand8.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand9.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand10.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand11.png' %}" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- Brand Area End -->


</main>

</html>
{% endblock %}