{% extends 'wadisemapp/base.html' %}
{% load static %}
<!doctype html>
{% block title%}
Home
{% endblock %}

{% block content %}
<main>
    <!--? slider Area Start-->
    <!-- Banner Start -->
    <section class="section banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 class="cd-headline clip is-full-width">
                        At <span class="text-danger">Wadisem</span> we offer<br>
                        <span class="cd-words-wrapper text-color">
                            <b class="is-visible text-warning">Education Services.</b>
                            <b class="text-info">Financial Services.</b>
                            <b class="text-success">Business Development.</b>
                        </span>
                    </h2>
                    <a href="#learnMore" class="btn btn-outline-info text-light text-bold p-3 text-right"
                        data-aos="fade-up" data-aos-duration="3000">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Counts Section ======= -->
    <div class="counts section-bg">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                        <span data-toggle="counter-up">1,232</span>
                        <p>Happy Clients</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-document-folder" style="color: #c042ff;"></i>
                        <span data-toggle="counter-up">521</span>
                        <p>Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
                    <div class="count-box">
                        <i class="icofont-live-support" style="color: #46d1ff;"></i>
                        <span data-toggle="counter-up">24</span>
                        <p>Hours Daily Support</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                    <div class="count-box">
                        <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                        <span data-toggle="counter-up">1,615</span>
                        <p>Clients</p>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- End Counts Section -->
    <!--? Services Ara Start -->
    <div class="services-area section-padding3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <h2 id="learnMore">Our Professional Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-10 mb-200" data-aos="zoom-out" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="{% static 'wadisemapp/assets/img/gallery/edu.jpg' %}" alt="">
                        </div>
                        <div class="services-caption">
                            <h3><a href="services.html">Education Services</a></h3>
                            <p class="pera1">Admission into various Universities, Polythecnics and Colleges of Education
                                in Nigeria </p>
                            <p class="pera1">Study Abroad - UK,USA,Canada,Ukraine,Portugal etc</p>
                            <p class="pera1">Register for JAMB,WAEC,NECO,JUPEB,IJMB,POST-UTME</p>
                            <p class="pera2">Study Abroad - UK,USA,Canada,Ukraine,Portugal etc </p>
                            <p class="pera2">Admission into various Universities, Polythecnics and Colleges of Education
                                in Nigeria </p>
                            <p class="pera2">Register for JAMB,WAEC,NECO,JUPEB,IJMB,POST-UTME </p>
                            <hr>
                            <div class="blog-cap">
                                Click <a href="" class="more-btn">here</a> for more Details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mb-100" data-aos="zoom-in-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="{% static 'wadisemapp/assets/img/gallery/finance.png' %}" alt="">
                        </div>
                        <div class="services-caption">
                            <h3><a href="services.html">Financial Services</a></h3>
                            <p class="pera1">Daily Contribution and Loans </p>
                            <p class="pera1">Account Opening and ATM Card Collection </p>
                            <p class="pera1">Money Transfer and Bill Payment </p>
                            <p class="pera1">Sales of POS Machine </p>
                            <p class="pera2">Account Opening and ATM Card Collection </p>
                            <p class="pera2">Daily Contribution and Loans </p>
                            <p class="pera2">Money Transfer and Bill Payment </p>
                            <p class="pera2">Sales of POS Machine </p>
                            <hr>
                            <div class="blog-cap">
                                Click <a href="" class="more-btn">here</a> for more Details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mb-100" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="{% static 'wadisemapp/assets/img/gallery/business.png' %}" alt="">
                        </div>
                        <div class="services-caption">
                            <h3><a href="services.html">Business Development </a></h3>
                            <p class="pera1">Business Consulting and Outsourcing </p>
                            <p class="pera1">HR Consulting, Training and Recruitment</p>
                            <p class="pera1">Marketing and Business branding</p>
                            <p class="pera1">Radio and TV advert placement</p>
                            <p class="pera2">HR Consulting, Training and Recruitment</p>
                            <p class="pera2">Business Consulting and Outsourcing</p>
                            <p class="pera2">Marketing and Business branding</p>
                            <p class="pera2">Radio and TV advert placement</p>

                            <hr>
                            <p class="blog-cap">
                                Click <a href="" class="more-btn">here</a> for more Details
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- Want To work -->
    <section class="wantToWork-area w-padding2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2 data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">Are you Searching
                            For a
                            First-Class Business Consultant?
                            <a href="{% url 'wadisemapp:contact' %}"
                                class="btn btn-outline-info text-light text-bold p-3" data-aos="fade-up"
                                data-aos-duration="3000">Contact Us</a>
                        </h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'wadisemapp/assets/img/gallery/director.png' %}" alt=""
                                class="img-fluid">
                        </div>
                        <div class="team-caption">
                            <h4><a href="#" class="text-light text-bold" data-aos="zoom-out"
                                    data-aos-duration="4000">Wale Adanlawo</a></h4>
                            <h4 data-aos="fade-up" data-aos-duration="5000">Director</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!-- Services Ara End -->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'wadisemapp/assets/img/gallery/testi-logo.png' %}" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>Christine Eve</strong> - Co Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'wadisemapp/assets/img/gallery/testi-logo.png' %}" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>Christine Eve</strong> - Co Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Brand Area Start -->
    <div class="brand-area pt-120 pb-120" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="brand-active brand-border pt-50 pb-40">
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand1.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand2.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand3.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand4.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand5.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand6.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand7.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand8.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand9.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand10.png' %}" alt="">
                </div>
                <div class="single-brand">
                    <img src="{% static 'wadisemapp/assets/img/gallery/brand11.png' %}" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- Brand Area End -->

    <!-- Blog Area Start -->
    <div class="home-blog-area section-padding30" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-70">
                        <span>Our latest Updates</span>
                        <h2>Our recent updates</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{% static 'wadisemapp/assets/img/gallery/wadisem-details.jpg' %}" alt="">
                            </div>
                            <ul>
                                <li class="black-bg">October 27, 2020</li>
                                <li>By Admin - 30 Likes - 4 Comments</li>
                            </ul>
                            <div class="blog-cap">
                                <h3><a href="blog_details.html">16 Easy Ideas to Use Everyday
                                        Stuff in Kitchen.</a></h3>
                                <a href="blog_details.html" class="more-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{% static 'wadisemapp/assets/img/gallery/consultancy.jpg' %}" alt="">
                            </div>
                            <ul>
                                <li class="black-bg">October 27, 2020</li>
                                <li>By Admin - 30 Likes - 4 Comments</li>
                            </ul>
                            <div class="blog-cap">
                                <h3><a href="blog_details.html">16 Easy Ideas to Use Everyday
                                        Stuff in Kitchen.</a></h3>
                                <a href="blog_details.html" class="more-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->


</main>
{% endblock %}